/**
  RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  padding: 0;
  margin: 0;
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  STYLES
*/

html, body, {
  min-height: 100%;
}
div {
  text-align: center;
  display: block;
}

#fullscreen-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.vr {
  font-family: 'Open Sans';
  border: 4px solid #F2F2F2;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 120px;
}
.voting {
  display: flex;
  height: 100%;
  width: 100%;
}

.vote__btn {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #fff;
  font-size: 3em;
  cursor: pointer;
}

.vote__btn:nth-child(odd) {
  background-color: #482979;
}

.vote__btn:nth-child(even):active {
  color: #652877;
}

.vote__btn:nth-child(even) {
  background-color: #D82271;
}

.vote__btn:nth-child(odd):active {
  color: #C92272;
}

.vote__btn:hover {
  opacity: .8;
}

.vote__btn:disabled {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
  cursor: default;
}

.vote__btn:focus {
  outline: none;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@media (max-width: 500px) {
  .voting {
    flex-direction: column;
  }
}

.voting-result {
  display: inline-block;
  padding: 10px;
}
.voting-title {
  font-style: italic;
  font-size: 1.2em;
}
